<html>
<head>
    <meta charset="UTF-8">
    <title>binding machine dialog</title>
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../../../css/select2/select2.css">
    <link rel="stylesheet" href="../../../css/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <script src="../../../js/jquery-1.10.2.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/jquery.bsAlerts.min.js"></script>
    <script src="../../../js/prettify.js"></script>
    <script src="../../../js/select2/select2.min.js"></script>
    <script src="../../../js/hmac-sha256.js"></script>
    <script src="../../../js/enc-base64.js"></script>
    <script src="../../../js/jquery.i18n.properties-1.0.9.js"></script>
    <script src="../../../i18n/ElementLanguage.js"></script>
    <script src="../../../js/util.js"></script>
    <script type="application/javascript" language="JavaScript">
        var admin, token;
        $(document).ready(function () {
            $("#old_psd").attr('placeholder', $.i18n.prop('input_old_password'));
            $("#new_psd").attr('placeholder', $.i18n.prop('input_new_password'));
            $("#new_psd_confirm").attr('placeholder', $.i18n.prop('input_confirm_password'));
            admin = adminInfo.accountId;
            token = sessionStorage.getItem("token");
            $("#passwor_format_error").hide();
            $("#password_match_error").hide();
            $("#new_psd").blur(function () {
                var new_psd = $("#new_psd").val();
                if (checkpassword(new_psd) == 0) {
                    $("#passwor_format_error").show(500);
                    $("#format_error_msg").text($.i18n.prop('null_psd_error'));
                } else if (checkpassword(new_psd) == 1) {
                    $("#passwor_format_error").show(500);
                    $("#format_error_msg").text($.i18n.prop('length_psd_error'));
                } else if (checkpassword(new_psd) == 2) {
                    $("#passwor_format_error").show(500);
                    $("#format_error_msg").text($.i18n.prop('number_psd_error'));
                } else if (checkpassword(new_psd) == 3) {
                    $("#passwor_format_error").show(500);
                    $("#format_error_msg").text($.i18n.prop('letters_psd_error'));
                } else if (checkpassword(new_psd) == 4) {
                    $("#passwor_format_error").hide(500);
                }
            });

            $("#new_psd_confirm").blur(function () {
                var new_password = $("#new_psd").val();
                var comfirm_password = $("#new_psd_confirm").val();
                if( new_password != comfirm_password){
                    $("#password_match_error").show(500);
                    $("#password_match_msg").text($.i18n.prop('password_no_match'));
                    return;
                }else {
                    $("#password_match_error").hide(500);
                }
            });

        });


        function modifyPassword() {
            var old_psd = $("#old_psd").val();
            var new_psd = $('#new_psd').val();
            var new_psd_confirm = $('#new_psd_confirm').val();
            token = sessionStorage.getItem('token');
            if( new_psd != new_psd_confirm){
                $("#password_match_error").show(500);
                $("#password_match_msg").text($.i18n.prop('password_no_match'));
                return;
            }
            if( !old_psd){
                showErrorDialog($.i18n.prop('input_old_password'));
                return;
            }
            if( !new_psd){
                showErrorDialog($.i18n.prop('input_new_password'));
                return;
            }
            if( !new_psd_confirm){
                showErrorDialog($.i18n.prop('input_confirm_password'));
                return;
            }
            var param = {"newPassword": new_psd,"oldPassword": old_psd};
            var req = getRequestParameter(admin, token, param);
            $.ajax({
                url: '/proxy',
                type: 'get',
                data: {
                    url: "api/manage/editPassword",
                    param: req
                },
                beforeSend: function () {
                    $("#button_submit").text($.i18n.prop('processing') + '....');
                    $("#button_submit").addClass("disabled");
                },
                success: function (response) {
                    response = $.parseJSON(response);
                    if (response.token) {
                        sessionStorage.setItem('token', response.token);
                    }
                    if(!verifyStatusCode(response.statusCode)){return;}
                    if( response.statusCode == 0) {
                        $("#button_submit").text($.i18n.prop('modify_button'));
                        $("#button_submit").removeClass("disabled");
                        closeDialog('dialogMachine');
                        refreshWindow("iframepage");
                    } else {
                        showErrorDialog("error : " + statusCodeTranslate(response.statusCode));
                        $("#button_submit").text($.i18n.prop('modify_button'));
                        $("#button_submit").removeClass("disabled");
                        return;
                    }

                },

                error: function (jqXHR, textStatus, errorThrown) {
                    showErrorDialog(textStatus + ":" + jqXHR.status + " " + errorThrown);
                    $("#button_submit").text($.i18n.prop('bind'));
                    $("#button_submit").removeClass("disabled");
                }
            });
        }
    </script>
</head>
<body style="margin-right: 16px;margin-left: 16px;">

<div class="input-group input-group-sm dialog_row">
    <span class="input-group-addon" id="old_password_title">Old Password：</span>
    <input id="old_psd" class="form-control select2" placeholder="please input old password" type="password"/>

</div>

<div class="input-group input-group-sm dialog_row">
    <span class="input-group-addon" id="new_password_title">New Password：</span>
    <input id="new_psd" class="form-control select2" placeholder="please input new password" type="password"/>
</div>

<div class="alert alert-danger" data-alert="alert" id="passwor_format_error">
    <span id="format_error_msg"></span>
</div>

<div class="input-group input-group-sm dialog_row">
    <span class="input-group-addon" id="comfirm_password_title">Comfirm Password：</span>
    <input id="new_psd_confirm" class="form-control select2" placeholder="please input new password again"
           type="password"/>
</div>
<div class="alert alert-danger" data-alert="alert" id="password_match_error">
    <span id="password_match_msg"></span>
</div>

<div class="openWin_hr">
    <button id="button_submit" type="button" title="modify" class="btn btn-primary btn-group-lg f_r"
            onclick="modifyPassword()">
        <span id="modify_button"></span>
    </button>
</div>

</body>
</html>