<html>
<head>
    <meta charset="UTF-8">
    <title>binding machine dialog</title>
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../../../css/select2/select2.css">
    <link rel="stylesheet" href="../../../css/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/formValidation.css">
    <script src="../../../js/jquery-1.10.2.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/formValidation.js"></script>
    <script src="../../../js/bootstrap_for_validation.js"></script>
    <script src="../../../js/select2/select2.min.js"></script>
    <script src="../../../js/hmac-sha256.js"></script>
    <script src="../../../js/enc-base64.js"></script>
    <script src="../../../js/jquery.i18n.properties-1.0.9.js"></script>
    <script src="../../../i18n/ElementLanguage.js"></script>
    <script src="../../../js/util.js"></script>
    <style>
        span{
            float: right;
        }
    </style>
    <script type="application/javascript" language="JavaScript">
        var admin, token,roleLevel;
        $(document).ready(function () {
            admin = adminInfo.accountId;
            token = sessionStorage.getItem("token");
            roleLevel = sessionStorage.getItem('roleLevel');

            $('#createAdminAccount').formValidation({
                fields: {
                    account: {
                        validators: {
                            notEmpty: {
                                message: $.i18n.prop('account_input')
                            },
                            emailAddress:{
                                message:$.i18n.prop('valid_email')
                            }
                        }
                    },
                    firstname: {
                        validators: {
                            notEmpty: {
                                message:$.i18n.prop('firstname_input')
                            }
                        }
                    },
                    lastname: {
                        validators: {
                            notEmpty: {
                                message: $.i18n.prop('lastname_input')
                            }
                        }
                    }
                },
                button: {
                    // The submit buttons selector
                    // These buttons will be disabled to prevent the valid form from multiple submissions
                    selector: '[type="button"]',
                    // The disabled class
                    disabled: ''
                }
            });


            $("#departmentName").select2({
                minimumResultsForSearch: Infinity,
                ajax: {
                    url: "/proxy",
                    type: "get",
                    dataType: 'json',
                    data: function (term, page) {
                        token = sessionStorage.getItem('token');
                        return {
                            'url': 'api/manage/listDepartments',
                            'param': getRequestParameter(admin, token),
                            q: term // search term
                        };
                    },
                    results: function (result, page) {
                        if(result.token){
                            sessionStorage.setItem('token',result.token);
                        }
                        if(!verifyStatusCode(result.statusCode)){
                            return;
                        }
                        if( result.statusCode == 0) {
                            var original_data = result.departmentList;
                            var select_data = [];
                            $.each(original_data, function (key, value) {
                                select_data.push({"id": value.departmentName, "text": value.departmentName});
                            })
                            return {results: select_data}
                        }else {
                            showErrorDialog("error : " + statusCodeTranslate(result.statusCode));
                            return;
                        }
                    }
                },
                formatResult: function (exercise) {
                    console.log(exercise);
                    return "<div class='select2-user-result'>" + exercise.text + "</div>";
                },
                escapeMarkup: function (markup) {
                    return markup
                },
                formatResult: productFormatResult,
                formatSelection: productFormatSelection
            });
        });

        function productFormatResult(product) {
            var html = "<table><tr>";
            html += "<td>";
            html += product.text;
            html += "</td></tr></table>";
            return html;
        }

        function productFormatSelection(product) {
            var selected = "<input type='hidden' name='itemId' value='" + product.id + "'/>";
            return selected + product.text;
        }

        function addAccount() {
            var accountId = $("#account").val();
            var departmentName = $('#departmentName').val();
            var firstName = $('#firstName').val();
            var lastName = $('#lastName').val();
            token = sessionStorage.getItem("token");

            if(!departmentName) {
                showErrorDialog($.i18n.prop('department_input'));
                return;
            }

            if(!firstName) {
                showErrorDialog($.i18n.prop('firstname_input'));
                return;
            }

            if(!lastName) {
                showErrorDialog($.i18n.prop('lastname_input'));
                return;
            }
            var param = {"accountId":accountId,"departmentName":departmentName,"firstName":firstName,"lastName":lastName};
            req = getRequestParameter(admin, token, param);
            $.ajax({
                url: '/proxy',
                type: 'get',
                data: {
                    url: "api/manage/createadminaccount",
                    param: req
                },
                beforeSend: function () {
                    $("#button_submit").text($.i18n.prop('processing') + '....');
                    $("#button_submit").addClass("disabled");
                },
                success: function (response) {
                    response = $.parseJSON(response);
                    if(response.token){
                        sessionStorage.setItem('token',response.token);
                    }
                    if( !verifyStatusCode(response.statusCode)){
                        return;
                    }
                    if( response.statusCode == 0) {
                        $("#button_submit").text($.i18n.prop('sure_button'));
                        $("#button_submit").removeClass("disabled");
                        closeDialog('dialogMachine');
                        refreshWindow("iframepage");
                    }else {
                        showErrorDialog("error : " + statusCodeTranslate(response.statusCode));
                        $("#button_submit").text($.i18n.prop('sure_button'));
                        $("#button_submit").removeClass("disabled");
                        return;
                    }
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    showErrorDialog(textStatus + ":" + jqXHR.status + " " + errorThrown);
                    $("#button_submit").text($.i18n.prop('bind'));
                    $("#button_submit").removeClass("disabled");
                }
            })
        }

    </script>
</head>
<body style="margin-right: 16px;margin-left: 16px;">
     <form id="createAdminAccount" class="form-horizontal" role="form">
         <fieldset>
             <div class="form-group">
                 <label class="col-xs-2 control-label" ><span id="account_input_title">account</span></label>
                 <div class="col-xs-10">
                     <input id="account" class="form-control select2" name="account" placeholder="please input account"/>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-xs-2 control-label"><span id="fistname_input_title">first name</span></label>
                 <div class="col-xs-10">
                     <input id="firstName" class="form-control select2" name="firstname" placeholder="please input firstName"/>
                 </div>
             </div>

             <div class="form-group">
                 <label class="col-xs-2 control-label"><span id="lastname_input_title"></span></label>
                 <div class="col-xs-10">
                     <input id="lastName" class="form-control" name="lastname" placeholder="please input lastName"/>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-xs-2 control-label"><span id="department_name_title"></span></label>
                 <div class="col-xs-10">
                     <input id="departmentName" name="department" class="form-control select2" placeholder="please input company name"/>
                 </div>
             </div>
         </fieldset>
         <div class="form-group">
             <div class="col-sm-9 col-sm-offset-3">
                 <button id="button_submit" type="button" disabled title="确定" class="btn btn-primary btn-group-lg f_r"
                         onclick="addAccount()">
                     <span id="sure_button"></span>
                 </button>
             </div>
         </div>
     </form>

</body>
</html>