<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <!-- Bootstrap core CSS -->
    <link href="../../../css/bootstrap.css" rel="stylesheet">
    <link href="../../../css/bootstrap-table.css" rel="stylesheet">
    <link href="../../../css/bootstrap-table.css" rel="stylesheet">
    <link href="../../../css/jquery-confirm.min.css" rel="stylesheet">
    <link href="../../../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../../css/ui.daterangepicker.css" rel="stylesheet">
    <link href="../../../css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="../../../css/style.css" rel="stylesheet">

    <script src="../../../js/jquery-1.10.2.js"></script>
    <script src="../../../js/jquery.i18n.properties-1.0.9.js"></script>
    <script src="../../../i18n/ElementLanguage.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/bootstrap-table.js"></script>
    <script src="../../../js/tooltip.js"></script>
    <script src="../../../js/bootstrap-table-mobile.js"></script>
    <script src="../../../js/hmac-sha256.js"></script>
    <script src="../../../js/enc-base64.js"></script>
    <script src="../../../i18n/bootstrap-table-zh-cn.js"></script>
    <script src="../../../i18n/bootstrap-table-zh-hk.js"></script>
    <script src="../../../i18n/datepicker-zh-cn.js"></script>
    <script src="../../../i18n/datepicker-zh-hk.js"></script>
    <script src="../../../js/jquery-confirm.min.js"></script>
    <script src="../../../js/util.js"></script>
    <script src="../../../js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="../../../js/bootstrap-table-filter-control.js"></script>
    <script src="../../../js/daterangepicker.jQuery.js"></script>
    <script src="../../../js/date.js"></script>

    <script type="application/javascript">

        $(document).ready(function () {
            $(window).resize(function(){
            $("#table").bootstrapTable('resetView',{'height':$(window).height()});
            });
            $(window).scroll(function () {
                $('.ui-dialog').css('position', "fixed");
                $('.ui-dialog').css('top',150);
            });
            var lang = localStorage.getItem('lang');
            var admin = '';
            if(adminInfo){
                var admin = adminInfo.accountId;
            }
            var token = sessionStorage.getItem("token");

            $.extend($.fn.bootstrapTable.defaults, $.fn.bootstrapTable.locales[lang]);
            $.datepicker.setDefaults($.datepicker.regional[lang]);
            //Create account list table
            var column_array =  [
                {
                    field: 'fileName',
                    title: $.i18n.prop('file_name_table_header'),
                    align: 'left',
                    width: '20%',
                    valign: 'middle',
                    filterControl:'input',
                    sortable: true
                },
                {
                    field: 'subject',
                    title: $.i18n.prop('file_subject_table_header'),
                    align: 'left',
                    width: '10%',
                    valign: 'middle',
                    filterControl:'input',
                    sortable: true
                },
                {
                    field: 'creationTime',
                    title: $.i18n.prop('file_create_time_table_header'),
                    align: 'left',
                    width: '20%',
                    valign: 'middle',
                    filterControl:'datepicker',
                    filterDatepickerOptions:{
                        dateFormat:"yy-mm-dd",
                        doneButtonText:$.i18n.prop('Operation_confirm_button'),
                        rangeStartTitle:$.i18n.prop('datepicker_range_start_title'),
                        rangeEndTitle:$.i18n.prop('datepicker_range_end_title')
                    },
                    sortable: true,
                    formatter:function(value) {
                        return UnixToDate(DateToUnix(value),true);
                    }
                },
                {
                    field: 'action',
                    title: $.i18n.prop('action'),
                    align: 'left',
                    width: '10%',
                    valign: 'middle',
                    formatter: actionFormatter,
                    events: actionEvents
                }];
            var init_table_params_obj = {
                'url':'api/manage/listfiles',
                'user':admin
            };
            generateTable('table',init_table_params_obj,column_array,'fileList');


        });
        function actionFormatter(value, row, index) {
           var array = [
                '<a class="history ml10" href="javascript:void(0)" title="File History">',
                '<i class="fa fa-clock-o"></i>',
                '</a>',
                '<a class="edit ml10" href="javascript:void(0)" title="File Permission">',
                '<i class="fa fa-edit"></i>',
                '</a>'
            ];
            return array.join('');
        }



        window.actionEvents = {
            'click .history': function (e, value, row, index) {
                $("<div id='history_dialog'><iframe id='history_frame' width='100%' height='95%' frameborder='0' border='0' src='file-history.html?keyId="+row.keyId+"'/></div>").dialog(
                        {
                            autoopen: true,
                            modal: true,
                            height: $(window).height()*0.9,
                            width: $(window).width()*0.9,
                            title: $.i18n.prop('file_history_dialog_title')
                        }
                );
            },
            'click .edit': function (e, value, row, index) {
                $("<div id='permission_dialog'><iframe id='permission_frame' width='100%' height='95%' frameborder='0' border='0' src='file-permission.html?keyId="+row.keyId+"'/></div>").dialog(
                        {
                            autoopen: true,
                            modal: true,
                            height: $(window).height()*0.6,
                            width: $(window).width()*0.8,
                            title: $.i18n.prop('file_permisstion_dialog_title')
                        }
                );
            }
        };
    </script>
</head>
<body>

<div class="table-responsive">
    <table id="table">
    </table>
</div>

</body>
</html>